.address-form{
    margin: 20px;
    color: #e16162;
    font-size: 20px;
    
}
.form-submit{
    color: #f9bc60;
    border: solid 1px #fffffe;
    border-radius: 1px;
}
.form-submit:hover{
    background-color:#001e1d;
    transition: 0.5s;
    cursor: pointer;
}
.address-form2{
    color:#e16162;
    margin: auto;
    padding: 10px;
    font-family: cursive;
}