.subtitle-highlight{
   background-color: #f9bc60;
   font-weight: bold;
   padding: 2px 10px;
   border-radius: 10px;
}
.why-choose-us{
    margin-top: 70px;
}
.why-choose-us-container{
    display: flex;
    justify-content: space-around;
    background-color:#8cc0b1;
    margin: 20px 0;
    padding: 20px;
}
.why-choose-us-card{
    background-color:#fff;
    width: 170px;
    padding: 10px;
    color: #001e1d;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 10px 5px #001e1d;

}
.why-choose-us-img{
    height: 60px;
    display: block;
    margin: 10px auto;
}
.header-img{
    height: 250;
    width: 250px;
    display: block;
    margin: 30px auto;
}
.header-primary{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 20px;
}