.service{
    color: #e16162;
    font-family: cursive;
    font-size: 20px;
    margin: 30px auto;
    


}
.service-card{
    background-color:#e16162;
    width: 200px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -5px 5px 10px 1px #001e1d;
    border: solid 1px;
    flex-direction: row;
}
.service-card:hover{
    background-color: #abd1c6;
    border-radius: 20px;
    transition: 0.6s;
    cursor: pointer;
}
.service-img{
    margin-left: 40px;
    border-radius: 4px;
}
.service-main{
    display: flex;
    justify-content: space-evenly;
}